@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');
/* Generales */
.container{
    display: flex;
    padding: 2% 2% 5%;
    box-sizing:border-box;
    width: 100%;
    
}
#row{
  flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 15px;
    box-sizing:border-box;
}
.pad{
    padding: 10px;
    box-sizing:border-box;
    width: min-content;

}
.reverse{
  flex-direction: unset;
}
.social{
  height: 45px;
  width: 45px;
  
}
.padding3{
  padding: 3%;
}

/* Letras particulares */
.sub{
    font-size: 72px;
    font-weight: 100;
}

.titu{
 font-size: 72px;
 font-weight: 500;
}
.parr{
    font-size: 24px;
    width: 520px;
    padding-top: 10px;
}
/* Medias */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 100%;
    padding: 0%;
    /* justify-content: center; */
  }
  .pad{
    width: auto;
  }
  .reverse{
    flex-direction: column-reverse;
  }

  .col {
    width: 100%;
  }
  p {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  /* For tablet: */
  .container {
    width: 100%;
    padding: 2% 2% 5%;
  }
  
}