
.row{
    display: flex;
    flex-direction: row;
}

.titulo{
    font-size: 65px;
}

.icono{
    width: 65px;
    height: auto;
    padding-right: 5px;
}
.parr{
    font-size: 24px;
}
#cv{
    padding-top: 30px;
}

.button{
    text-decoration: none;
    padding: 15px 45px;
    background-color: #1E6091;
    color: white;
    border-radius: 5px;

}
.button:hover{
    background-color:#318cd1;
}

