*{
    font-family: 'Roboto';
}


.navbar {
    
    background-color: #1E6091;
    color: white;
    height: 60px;
    margin: 0%;
}
.desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.home{
    font-size: large;
}
.link{
    color: #E8E8E4;
}
.felipe{
    font-size: x-large;
    padding-left: 35%;
}

.icon{
    height: 56px;
    width: auto;
    display: none;
    filter: brightness(0) invert(1);
}

.list {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .desktop {
      display: none;
    }
    .icon{
        display: block;
       float: right;
    }
    .list{
        display: flex;
        align-content: center;
        justify-content: center;
        text-decoration: none;
        padding: 20px 0px;

    }
    
    
  }
