* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    max-width: 100%;
    
}
hr {
   
    background-color:black;
    height: 1px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    background-color: #E5E5E5;
    padding: 1% 2% 1%;
    border-radius: 8px;
    margin: 1% 0% 1%;
    border-style: solid;
    border-width: 1px;
}
textarea{
    background-color: #E5E5E5;
    padding: 1% 2% 1%;
    border-radius: 8px;
    margin: 1% 0% 1%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
}

label{
    font-size: 26px;
}

@media only screen and (max-width: 768px) {
    input{
        padding: 2% 3% 2%;

    }
}